/* Put your custom styles here and run `npm start` from the "src" directory on */

#TableOfContents ul li {
  margin-bottom: 1em;
}

.lh-copy blockquote {
  display: block;
  font-size: .875em;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-left: 4px solid #ccc;
  padding-left: 1rem;

}

.nested-links a{
  overflow-wrap: break-word;
}


.summary-w_image {
  border-color: rgba(0, 0, 0, 0.1);
  background: aliceblue;
  padding: 16px 20px;
  border-radius: 8px;

  .nested-copy-line-height{
    max-height: 200px;
    overflow: hidden;
  }
}